#mainContent {
    align: center;
    padding: 100px;
    width: 600px;
    height: 400px;
    background-color: aqua;
    margin: auto;
}

#logoSlogan {
    width: 340px;
    height: 400px;
    background-image: url("wimage.png");
    margin-right: 10px;
    float: left;

}

div#login {
    width: 250px;
    height: 110px;
    font-size: 12px;
    float: right;
    background-color: white;
}

div#signUp {
    font-size: 12px;
    width: 250px;
    height: 280px;
    margin-top: 10px;
    float: right;
    background-color: white;
}

form#loginForm label, form#signUpForm label {
    display: inline-block;
    width: 150px;
    float: left;
}

#subButton, #logButton, input, select {
    float: right;
    clear: both;
}

h4 {
    text-align: center;
    font-size: 15px;
}

