#mainContent {
    padding: 100px;
    width: 600px;
    height: 400px;
    background-color: aqua;
    margin: auto;
}

#logoSlogan {
    width: 340px;
    height: 400px;
    background-image: url("img/wimage.png");
    margin-right: 10px;
    float: left;
    border: 1px black solid;

}

#login {
    padding-top: 10px;
    width: 250px;
    height: 96px;
    font-size: 12px;
    background-color: white;
    border: 1px black solid;
}

#signUp {
    font-size: 12px;
    width: 250px;
    height: 280px;
    margin-top: 12px;
    background-color: white;
    border: 1px black solid;
}

#loginForm, #signUpForm {
    margin-top: 20px;
}

#loginForm label {
    display: inline-block;
    width: 150px;
    height: 0px;
    float: left;
}

#loginForm #logButton {
    width: auto;
}

input {
    width: 120px;
    float: right;
    clear: right;
}

#signUpForm label {
    display: inline-block;
    width: 150px;
    height: 0px;
    float: left;
}

#signUpForm #subButton {
    float: right;
    width: auto;
}

#signUpForm input, #signUpForm select {
    width: 120px;
    height: auto;
    float: right;
    clear: both;
}

#forms {
    position: absolute;
    margin-left: 350px;
}

p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

